{% extends "base.html" %}
{% load static %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block custom_js %}
{% for js in additional_js %}
<script src="/static/js/{{js}}.js"></script>
{% endfor %}
{% endblock %}

{% block content %}
    <h1 class="padding_tb-s">{{ page_title }}</h1>

    <div class="form-container">

        <div class="left-column {% if not task_id %}full-width{% endif %}">
            <div class="content-block">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="button-link" type="submit">{{ btn_text }}</button>
                </form>

                {% if additional_text %}
                    <div class="additional-container padding-2xs">
                        {{ additional_text }}
                        {% if additional_link %}
                            <a class="simple-link" href="{{ additional_link }}">{{ link_text }}</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>


        {% if task_id %}
            <div class="right-column">
                <div class="content-block comments-section">
                    <h3>Комментарии</h3>


                    <form method="POST" class="comment-form">
                        {% csrf_token %}
                        {{ comment_form.as_p }}
                        <button class="button-link" type="submit" name="comment_submit">Добавить комментарий</button>
                    </form>


                    <div class="comments-list">
                        {% if comments %}
                            {% for comment in comments %}
                                <div class="comment-item">
                                    <strong>{{ comment.user|default:"Аноним" }}</strong>
                                    <span>{{ comment.created_at|date:"d.m.Y H:i" }}</span>
                                    <p>{{ comment.text|linebreaksbr }}</p>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p class="no-comments">Пока нет комментариев.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}